
@font-face {
    font-family: 'open_sansbold';
    src: url('iconFonts/opensans-bold-webfont.eot');
    src: url('iconFonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('iconFonts/opensans-bold-webfont.woff2') format('woff2'),
    url('iconFonts/opensans-bold-webfont.woff') format('woff'),
    url('iconFonts/opensans-bold-webfont.ttf') format('truetype'),
    url('iconFonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('iconFonts/opensans-light-webfont.eot');
    src: url('iconFonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('iconFonts/opensans-light-webfont.woff2') format('woff2'),
    url('iconFonts/opensans-light-webfont.woff') format('woff'),
    url('iconFonts/opensans-light-webfont.ttf') format('truetype'),
    url('iconFonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('iconFonts/opensans-regular-webfont.eot');
    src: url('iconFonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('iconFonts/opensans-regular-webfont.woff2') format('woff2'),
    url('iconFonts/opensans-regular-webfont.woff') format('woff'),
    url('iconFonts/opensans-regular-webfont.ttf') format('truetype'),
    url('iconFonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('iconFonts/opensans-semibold-webfont.eot');
    src: url('iconFonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('iconFonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('iconFonts/opensans-semibold-webfont.woff') format('woff'),
    url('iconFonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('iconFonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline';
    src: url('iconFonts/lato-hairline-webfont.eot');
    src: url('iconFonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
    url('iconFonts/lato-hairline-webfont.woff2') format('woff2'),
    url('iconFonts/lato-hairline-webfont.woff') format('woff'),
    url('iconFonts/lato-hairline-webfont.ttf') format('truetype'),
    url('iconFonts/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src:url('iconFonts/icomoon.eot?kp879y');
    src:url('iconFonts/icomoon.eot?#iefixkp879y') format('embedded-opentype'),
    url('iconFonts/icomoon.ttf?kp879y') format('truetype'),
    url('iconFonts/icomoon.woff?kp879y') format('woff'),
    url('iconFonts/icomoon.svg?kp879y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
    content: "\e600";
}
.icon-instagram:before {
    content: "\e601";
}
.icon-twitter2:before {
    content: "\e602";
}
.icon-flickr3:before {
    content: "\e603";
}